@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


$footerWidth: 5vw;
$navWidth: 5vw;


$flashy: #ff0054;
$backgroundColor: #FAFAFA;
$backgroundColorVar2: #FAFAFA;
$backgroundColorVar3: #e3e3e3;
$backgroundColorVar4: #101820;
$borderColor: #101820;
$navColor: #ffffff;
$textColor: #101820;
$shadowColorInner: #DEE1E4;
$shadowColorOuter: #E8DEDC;

$borderSize: 1px;

$borderStyle: $borderSize solid $borderColor;


$mainWidthMobile: calc(100vw - 34px);


$fontRoseblue: "Roseblue";
$fontInconsolata: "Inconsolata";


/* <------------------- BASE -------------------> */

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.6;
}

::selection {
  background-color: $flashy;
  color: #fff;
}

/* <------------------- FLEX -------------------> */

.flexContainer {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}


/* <------------------- CURSEUR -------------------> */


/* <------------------- BOUTON CONTACT -------------------> */


.btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  height: auto;
  width: auto;
  z-index: 100;
}


/* <------------------- TEXTE -------------------> */

h1, h2, h3, p, ul, li, img {
  padding: 0;
  margin: 0;
}


img {
  max-width: 100%;
}

h1 {
  font-family: $fontRoseblue;
  font-size: 6rem;
  margin: 0;
  font-weight: 300;
  letter-spacing: 2px;
  color: $textColor;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roseblue';
  font-size: 6rem;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
}

h3 {
  font-family: $fontInconsolata;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

p, li, a, figcaption {
  font-family: $fontInconsolata, monospace;
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: none;
  color: $textColor;
  list-style: none;
}





/* <------------------- NAVIGATION -------------------> */


nav {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 50;
  height: 10vh;
  background-color: $navColor;
  border-bottom: $borderStyle;
  justify-content: center;
}

.menuToggle {
  display: block;  
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;
  a {
    opacity: 0;
    transition: color 0.6s ease,
                opacity 0.6s ease;
    :hover {
      color: $flashy;
    }
  }
}

nav input:checked ~ .menuToggle a {
  display: block;
  opacity: 1;
  color: $textColor;
  &:hover {
    color: $flashy;
  }
}

nav input {
  display: block;
  position: absolute;
  width: 40px;
  height: 32px;
  align-self: center;
  cursor: pointer;
  opacity: 0;
  z-index: 3; 
  -webkit-touch-callout: none;
}

.spanBox {
  display: flex;
  flex-direction: column;
  align-self: center;
}


.spanBox span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;  
  background: $textColor;
  border-radius: 3px;  
  z-index: 2;
  transform-origin: 0px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  :first-child {
    transform-origin: 0% 0%;
  }
  :nth-last-child(3) {
    transform-origin: 0% 100%;
  }
}



nav input:checked ~ .spanBox span {
  opacity: 1;
  transform: rotate(50deg) translate(-2px, -1px);
  background: $textColor;
}

nav input:checked ~ .spanBox span:nth-last-of-type(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

nav input:checked ~ .spanBox span:nth-last-child(1) {
  transform: rotate(-55deg) translate(-4px, -2px);
}



.menu {
  position: absolute;
  width: 100%;
  background: $navColor;
  border-bottom: $borderStyle;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform: translate(0, -150%);
  transition: transform 700ms cubic-bezier(0.77,0.2,0.05,1.0), opacity 200ms linear 200ms;
  ul {
    gap: 20px;
    padding: 0;
  }
}

nav input:checked ~ .menuToggle .menu {
  transform: none;
  opacity: 1;
}

@media all and (min-width: 780px) {
  nav {
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: $navWidth;
    border-right: $borderStyle;
    border-bottom: none;
  }
  nav input {
    width: 60px;
    height: 60px;
  }
  .menu {
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    border-bottom: none;
    border-right: $borderStyle;
    transform: translate(-110%, 0);
  }

}



/* <------------------- MAIN -------------------> */

#main-X {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
}



@media all and (min-width: 780px) {
  #main-X {
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }
}


/* <------------------- SECTIONS -------------------> */


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  font-size: 4ch;
  &:nth-child(even) {
    background-color: $backgroundColorVar2;
  }
  &:nth-child(odd) {
    background-color: $backgroundColorVar3;
  }
}

#section__end h2 {
  border-bottom: 4px solid $flashy;
  }


@media all and (min-width: 780px) {
  section {
    flex-direction: row;
    width: auto;
    min-width: 100vw;
  }
}

/* <------------------- SECTION 1 -------------------> */

#section__01 {
  background: url('./img/bota_bleu_1.jpg') center;
  background-size: cover;
}

#btnScrollX {
  position: absolute;
  right: 5%;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: yellow;
  a {
    display: flex;
  }
  &:hover #btnScrollText {
    stroke: yellow;
  }
}

#btnScroll {
  width: 120px;
  height: 120px;
  #btnScrollFleche {
    fill: none;
    stroke-width: 10px;
    stroke: #fff;
  }
  #btnScrollText {
    animation: rotateBtn 10s infinite linear forwards;
    transform-origin: 50% 50%;
    stroke: $textColor;
  }
  .btnScrollText {
    font-family: $fontInconsolata;
    font-size:32px;
  }
}

@keyframes rotateBtn {
  100% {
    transform: rotate(360deg);
  }
}

#content__01 {
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 90vw;
  background-color: $textColor;
  h1, h3 {
    color: #fff;
  }
}


@media all and (min-width: 780px) {
  #content__01 {
    height: 400px;
    width: 700px;
  }
}

/* <------------------- SECTION 2 -------------------> */


#section__02 {
  width: auto;
  min-width: auto;
  padding: 0 15%;
}
#section__02 figure {
  position: relative;
  height: 80vh;
  width: 30vw;
  overflow: hidden;
  figcaption {
    position: absolute;
    align-items: flex-end;
    padding: 40px;
    width: auto;
    height: auto;
    padding: 4px 30px;
    bottom: 30px;
    left: 0;
    background-color: $textColor;
    color: #fff;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: sepia(100%) hue-rotate(195deg) saturate(400%) contrast(1.2);
    transition: all 400ms ease-in-out;
  }
}

#section__02 figure:hover img {
  transform: scale(1.4) translate(-50px,-20px);
}


/* <------------------- SECTION 3 -------------------> */

#section__03 {
  align-items: flex-start;
  background: $textColor no-repeat fixed;
  background-size: cover;
  min-width: 70vw;
  overflow: hidden;
  h3, p, a {
    color: #fff;
  }
  div {
    width: 70%;
    margin: 0 auto;
  }
}

#section__03 h2 {
  animation: roll_h2 15s linear alternate infinite;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 12rem;
  text-transform: lowercase;
}

@keyframes roll_h2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(70vw - 100%));
  }
}


/* <------------------- SECTION 4 -------------------> */

#section__04 {
  min-width: 20vw;
  background: url('./img/bota_bleu_2.jpg') no-repeat fixed center;
  background-size: cover;
}


/* <------------------- TEXT SHADOW -------------------> */

.textShadow {
  width: 100%;
  background-color: #0E2736;
  position: relative;
}

.onTop {
  position: absolute;
  z-index: 1;
}

.onBottom {
  position: absolute;
  z-index: 0;
  top: 1px;
  background: url("http://100daysoffonts.com/images/black-stripe2.png") center fixed;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  h2 {
    font-weight: 400;
  }
}

/* <------------------- FOOTER -------------------> */

footer {
  display: flex;
  flex-direction: column;
  border-top: $borderStyle;
  background-color: $navColor;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
  }

  @media all and (min-width: 780px) {
    footer {
      border-left: $borderStyle;
      border-top: none;
      min-width: $footerWidth;
      width: auto;
      height: 100vh;
      p {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        letter-spacing: 0.5rem;
      }
      }
  }



/* <------------------- PAGE PROJET -------------------> */

#section__projets {
  width: calc((100vw - $footerWidth) - $navWidth);
  min-width: auto;
  margin-left: $navWidth;
  justify-content: space-evenly;
  background-color: $backgroundColorVar2;
}

.svgArrow {
  height: 50px;
  fill:none;
  stroke:$textColor;
  stroke-width:14;
  stroke-miterlimit:56;
}

#leftContainer, #rightContainer {
  flex: 0 0 auto;
}

#slide figure {
  position: relative;
  width: 65vw;
  height: 70vh;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
  }
  #content_description {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    padding: 30px;
    background-color: rgba(15, 10, 222, 0.7);
    opacity: 0;
    transition: all 600ms ease-in-out 200ms;
    figcaption, p {
      color: #fff;
    }
    figcaption {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
    }
  }
}

#slide figure:hover #content_description {
  opacity: 1;
}

#slide figure:hover img {
  transform: scale(1.2);
}


#btnSlide {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: $textColor;
  transition: all 200ms ease-in-out;
  &:hover {
    background-color: transparent;
    border: 4px yellow solid;
    animation: rotateBtn 2s;
    a {
      color: $textColor;
    }
  }
  a {
    color: #fff;
  }
}



/* <------------------- PAGE INDIVIDUELLE PROJET -------------------> */

#main-Y section {
  min-width: auto;
  margin-left: $navWidth;
  color: $textColor;
}

/* 1ERE SECTION */

#section_projet_intro {
  height: 100vh;
  justify-content: space-evenly;
  background-color: $backgroundColorVar2;
  div {
    gap: 30px;
  }
}

#btnSite {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: yellow;
}

/* 2ND SECTION */

#section_projet_detail {
  height: auto;
  padding-top: 5%;
  gap: 80px;
  background: linear-gradient(to bottom, 
  $backgroundColorVar3 0%, $backgroundColorVar3 80%,
  $backgroundColorVar4 80%, $backgroundColorVar4 100%);
  div:nth-child(2) {
    margin: 0 20%;
  }
}

.video {
  height: 60vh;
  width: 60vw;
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.visuel {
  height: 90vh;
  width: 60vw;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.rollContainer {
  width: 100%;
  align-items: flex-start;
  writing-mode: horizontal-tb;
  overflow: hidden;
}

#rollBrand {
  border-block: 1px solid $textColor;
  span {
    transform: translateX(calc(-100% + $navWidth));
    font-family: $fontRoseblue;
    font-size: 6rem;
    letter-spacing: 3px;
    animation: roll_title 25s linear infinite;
  }
}

#rollSoftware {
  border-block: 1px solid #fff;
  span {
    flex: 1;
    font-family: $fontInconsolata;
    font-size: 3rem;
    letter-spacing: 3px;
    animation: roll_title 25s linear reverse infinite;
    color: #fff;
  }
}


@keyframes roll_title {
  100% {
    transform: translateX(100vw);
  }
}



/* 3EME SECTION */

#verticalList {
  width: 100%;
  ul {
    gap: 10px;
    justify-content: center;
    transform: rotate(180deg);
  }
  li {
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}